@import "tailwindcss";
@theme static {
  --color-primary: #e0f64b;
  --color-secondary: var(--color-blue-500);
  --text-grey: #848484;
  --text: #b8b8b8;
  --body: #171717;
  --body-grey: #202020;
  --text-xs: 0.75rem;
  --text-sm: 14px;
  --text-md: 1.125rem;
  --transition: 0.3s ease-in-out;
}

@layer base {
  body {
    background: var(--body);
    color: var(--text);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.6;
  }
  .xs-text {
    font-size: var(--text-xs);
  }
  .sm-text {
    font-size: var(--text-sm);
  }
  .md-text {
    font-size: var(--text-md);
  }
  p {
    font-size: var(--text-xs);
    color: var(--text-grey);
  }
  .btn {
    font-size: var(--text-sm);
    transition: var(--transition);
  }

  .btn-primary {
    background: var(--color-primary);
    color: var(--body);
  }

  .btn-secondary {
    background: var(--body);
    color: white;
  }
}
