@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme static {
  --color-primary: #e0f64b;
  --color-home: #069a41;
  --color-home-bg: #07180e;
  --color-home-mute: #818181;
  --color-home-text: #1b1b1b;
  --color-secondary: var(--color-blue-500);
  --color-grey: #848484;
  --color-text: #b8b8b8;
  --color-body: #171717;
  --color-body-grey: #202020;
  --text-xs: 0.75rem;
  --text-sm: 14px;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --transition: 0.3s ease-in-out;
}

@layer base {
  /* Light mode (default) */
  * {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body {
    background: white;
    color: var(--color-body);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.6;
  }

  /* Dark mode */
  html.dark body {
    background: var(--color-body);
    color: var(--color-text);
  }

  .xs-text {
    font-size: var(--text-xs);
  }
  .sm-text {
    font-size: var(--text-sm);
  }
  .md-text {
    font-size: var(--text-md);
  }
  p {
    font-size: var(--text-xs);
    color: var(--text-grey);
  }
  .btn {
    font-size: var(--text-sm);
    transition: var(--transition);
  }

  .container {
    width: 100%;
    max-width: 1200px;
  }

  .btn-primary {
    background: var(--color-primary);
    color: var(--color-body);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  .btn-primary:hover {
    background: var(--color-body);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .btn:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  .btn-secondary {
    background: var(--color-body);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  .btn-secondary:hover {
    background: var(--color-primary);
    color: var(--color-body);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .satoshi {
    font-family: "Satoshi", sans-serif;
  }

  .btn-home {
    background: var(--color-home);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border-radius: 72px;
    font-family: "Satoshi", sans-serif;
  }

  .home-text {
    font-size: 24px;
    color: #818181;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
  }

  .home-text-sm {
    font-size: 20px;
    color: #818181;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
  }
  .home-text-xs {
    font-size: 14px;
    color: #818181;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
  }

  .home-sub-header {
    font-size: 32px;
    line-height: 42px;
    color: black;
    font-family: "Satoshi", sans-serif;
  }
  .home-header {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2%;
    color: #101928;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
  }
  @media (max-width: 1024px) {
    .home-header {
      font-size: 40px;
      line-height: 40px;
    }

    .home-sub-header {
      font-size: 28px;
      line-height: 42px;
    }

    .home-text {
      font-size: 20px;
    }
    .home-text-sm {
      font-size: 16px;
    }
  }
  @media (max-width: 640px) {
    .home-header {
      font-size: 32px;
      line-height: 36px;
    }

    .home-sub-header {
      font-size: 24px;
      line-height: 42px;
    }

    .home-text {
      font-size: 16px;
    }
    .home-text-sm {
      font-size: 12px;
    }
  }
}
