@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme static {
  --color-primary: #e0f64b;
  --color-home: #069a41;
  --color-home-bg: #07180e;
  --color-secondary: var(--color-blue-500);
  --color-grey: #848484;
  --color-text: #b8b8b8;
  --color-body: #171717;
  --color-body-grey: #202020;
  --text-xs: 0.75rem;
  --text-sm: 14px;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --transition: 0.3s ease-in-out;
}

@layer base {
  /* Light mode (default) */
  * {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body {
    background: white;
    color: var(--color-body);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.6;
  }

  /* Dark mode */
  html.dark body {
    background: var(--color-body);
    color: var(--color-text);
  }

  .xs-text {
    font-size: var(--text-xs);
  }
  .sm-text {
    font-size: var(--text-sm);
  }
  .md-text {
    font-size: var(--text-md);
  }
  p {
    font-size: var(--text-xs);
    color: var(--text-grey);
  }
  .btn {
    font-size: var(--text-sm);
    transition: var(--transition);
  }

  .btn-primary {
    background: var(--color-primary);
    color: var(--color-body);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  .btn-primary:hover {
    background: var(--color-body);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .btn:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  .btn-secondary {
    background: var(--color-body);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  .btn-secondary:hover {
    background: var(--color-primary);
    color: var(--color-body);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .btn-home {
    background: var(--color-home);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border-radius: 72px;
  }
}
